@model CarShare.Models.Car
@{
    ViewData["Title"] = "ViewCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-between" style="margin: 0rem 0rem 0.5rem">
    <h2>View Car</h2>
    <a class="btn btn-primary" href="/Admin/EditCar?Id=@Model.Id">Edit</a>
</div>

<table class="table">
    <tr>
        <td>Registration:</td>
        <td>@Model.Registration</td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <td>Status:</td>
        <td>@Model.Status</td>
    </tr>
    <tr>
        <td>Category:</td>
        <td>@Model.Category</td>
    </tr>
    <tr>
        <td>Seats:</td>
        <td>@Model.NumSeats</td>
    </tr>
    <tr>
        <td>Position:</td>
        <td>@Model.Longitude, @Model.Latitude</td>
    </tr>
</table>
