@model CarShare.Models.Car
@{
    ViewData["Title"] = "ViewCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: @Model.Latitude, lng: @Model.Longitude },
            zoom: 16
        });

        var marker = new google.maps.Marker({
            position: { lat: @Model.Latitude, lng: @Model.Longitude },
            map: map,
            title: 'car location'
        })
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpMBzIrXd_av3r74X_NcAXJ-DePpLGLcE&callback=initMap&libraries=&v=weekly"
        async
        defer></script>

<div class="d-flex justify-content-between" style="margin: 0rem 0rem 0.5rem">
    <h2>View Car</h2>
    <a class="btn btn-primary" href="/Admin/EditCar?Id=@Model.Id">Edit</a>
</div>

<table class="table">
    <tr>
        <td>Image:</td>
        <td><img class="img mx-auto d-block" src="@ViewBag.ImageUrl" alt="@ViewBag.ImageTitle" /></td>
    </tr>
    <tr>
        <td>ParkingLot:</td>
        <td>@ViewBag.ParkingLot.Description at @ViewBag.ParkingLot.Address</td>
    </tr>
    <tr>
        <td>Registration:</td>
        <td>@Model.Registration</td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <td>Status:</td>
        <td>@Model.Status</td>
    </tr>
    <tr>
        <td>Category:</td>
        <td>@Model.Category</td>
    </tr>
    <tr>
        <td>Seats:</td>
        <td>@Model.NumSeats</td>
    </tr>
    <tr>
        <td>Position:</td>
        <td><div id="map" style="height:25em"></div></td>
    </tr>
</table>


<div>
    <h1> History </h1>

    <table class="table">
        <tr>

            <th>User Email </th>
            <th>Time </th>
            <th>Duration </th>
            <th>Initial Location </th>
            <th>Returned Location </th>
            <th>Status</th>
        </tr>


        @foreach (var History in @ViewBag.carHistory)
        {
            <tr>
                <td>@History.Email </td>
                <td>@History.HireTime </td>
                <td>@History.HireDuration </td>
                <td>@History.InitialLongitude, @History.InitialLatitude </td>
                <td>@History.ReturnedLongitude, @History.ReturnedLatitude </td>
                <td>@History.Status </td>
            </tr>
        }
    </table>



</div>


