@model CarShare.Models.Car;
@{
    ViewData["Title"] = "AddCarHire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Car</h1>


@{
    // Here the initialization happens outside of the loop
    var i = 0;
}

<table class="table">
    <tr>
        <th>Registration </th>
        <th>Description </th>
        <th>NumSeats </th>
        <th>Distance </th>
        <th> </th>

    </tr>

    @foreach (var Cars in ViewBag.cars)
    {
        <tr>
            <td>@Cars.Registration </td>
            <td>@Cars.Description </td>
            <td>@Cars.NumSeats </td>
            <td>@ViewBag.distance[i] </td>
            <td><a asp-controller="Carhiredetails" asp-action="Index" asp-route-id="@Cars.Id"> Hire</a> </td>
        </tr>
        i++;
    }
</table>
